a {
    font-size: 12px;
    font-family: tahoma, arial, \5b8b\4f53, sans-serif;
    color: #666;
}

body {
    background: #fdf8f4 url(../img/login_03.jpg) no-repeat center top;
}

/* 头部 */
#header {
    height: 70px;
    width: 100%;
    filter: alpha(opacity=80);
    background-color: #000;
    background: rgba(0, 0, 0, 0.8);
}

#header .container {
    width: 1200px;
    margin: 0 auto;
}

#header .container .con_left {
    width: 30px;
}

#header .container .con_left img {
    width: 30px;
    height: 70px;
}

#header .container .con_right a {
    color: #999;
    display: inline-block;
    line-height: 70px;
    padding: 0 10px;
}

/* 中部 */
#content {
    padding: 30px 0;
}

#content .login_center {
    width: 1200px;
    height: 720px;
    margin: 0 auto;
}

.login_center .login_in {
    width: 310px;
    padding: 30px 35px;
    margin-top: 120px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 23px rgba(0, 0, 0, .1);
}

.login_box {
    width: 310px;
    margin: 0 auto 30px;
}

.login_box .login_box_title {
    height: 20px;
    margin-bottom: 50px;
}

.login_box .login_box_title li {
    margin-bottom: 15px;
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    font: normal 18px/20px microsoft yahei;
    color: #666;
}

.login_box .login_box_title .on {
    color: #f19108;
}

#box .ewmbox {
    width: 100%;
    height: 192px;
    position: relative;
}

#box img {
    width: 192px;
    position: absolute;
    left: 59px;
    top: 0;

}

#box .textts {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 35px;
}

#box .textts a {
    font-size: 14px;
    font-weight: bold;
    color: #f19108;
    margin: 0 5px;
    text-decoration: underline;
}

.jiathis {
    padding-bottom: 30px;
}

.jiathis p {
    color: #999;
    padding: 5px 0;
    height: 20px;
    font-size: 12px;
    font-family: tahoma, arial, \5b8b\4f53, sans-serif;
}

.reg {
    width: 100%;
}

.reg span {
    color: #999;
    font-size: 12px;
}

.reg a.active {
    color: #f19108;
}

.username,
.psw {
    margin-bottom: 15px;
    width: 310px;
    line-height: 20px;
    padding: 14px 5px;
    border: 1px solid #dedede;
    font-size: 14px;
    /* font-weight: bold; */
    font-family: 'microsoft yahei';
    border-radius: 0;
    color: #999;
}

.username:focus,
.psw:focus {
    color: #000;
}

#box2 label {
    font-size: 12px;
    position: relative;
    top: -10px;
}

.remember {
    position: relative;
    top: 3px;
    margin-right: 2px;
    vertical-align: unset;
}

.btn_submit {
    padding: 9px 0 8px 0;
    position: relative;
}

.login_btn {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #f19108;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: tahoma, arial, \5b8b\4f53, sans-serif;
}

.regTips {
    width: 100%;
}
.yanzhengma_show{
    margin-bottom: 15px;
    list-style: none;
}
.yanzhengma_show .reg_in {
    width: 298px;
    height: 20px;
    line-height: 20px;
    padding: 10px 5px;
    border: 1px solid #dedede;
    font-size: 14px;
    font-weight: bold;
    font-family: 'microsoft yahei';
    border-radius: 0;
    transition: border linear .2s, box-shadow linear .2s;
}

.yanzhengma_show .reg_in:focus {
    border-color: #9d003f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(240, 127, 5, .4);
}

.yanzhengma_show .blur_error {
    border: 1px solid red;
}

.yanzhengma_show .reg_ins {
    width: 115px;
}